
/* ********** */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
  box-sizing: border-box;
}

body {
  background: #ee9e9e;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.student-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.Added-message{
  font-family: "Roboto", sans-serif;
  background-color: #64f83f;
  padding: 15px;
  color: white;
}

.headStyle{
  font-size: 20px;
    color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.full-field{
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(204, 248, 6, 0.438);
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
.search-bar{
  margin: 0;
  width: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  display: block;
  background-color: white;
  width: 100%;
}

.input-drop{
  width: 200px;
  margin: auto;
}

.create-field{
  display: none;
  width: auto;
  margin: auto;
}
.option-container{
  display: none;  
  border: 1px solid purple;
  background-color: rgba(204, 248, 6, 0.438);
}